.flake {
  position: absolute;
  border-radius: 100%;

  --size: 10px;
  --color: rgb(255, 255, 255);

  width: var(--size);
  height: var(--size);

  top: var(--top);
  left: var(--left);
  background-image: radial-gradient(var(--color), transparent 60%);
}
