.carousel {
    width: 600px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.carousel button {
    position: absolute;
    top: 45%;
    z-index: 2;
}

.carousel button:first-of-type {
    left: 1%;
}

.carousel button:last-of-type {
    right: 1%;
}
